body, th, td, h1, h2, h3, h4, h5, h6, input, select, textarea, button {
  color: #212529;
  font-size: 0.78rem;
  font-weight: normal;
  line-height: 1.8;
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  color: #212529;
}

a {
  color: #212529;
  text-decoration: none;
}

li {
  list-style: none;
}

#WholeCotainer {
  border-bottom: 1px solid #212529;
  margin-bottom: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#WholeCotainer #headerVue {
  position: fixed;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 99;
}
#WholeCotainer #headerVue #mn {
  display: none;
}
#WholeCotainer .hamburger {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: scroll;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
}
#WholeCotainer .hamburger #headerVueMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#WholeCotainer .hamburger #headerVueMobile > div {
  padding: 10px;
}
#WholeCotainer .hamburger #headerVueMobile > div:nth-child(1) {
  text-align: right;
}
#WholeCotainer .hamburger #headerVueMobile > div:nth-child(1) img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 13%;
}
#WholeCotainer .hamburger #headerVueMobile > div:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 700;
}
#WholeCotainer .hamburger #loginAreaMobile #loginContainer {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 20px;
  border-bottom: 1px #212529 solid;
}
#WholeCotainer .hamburger #loginAreaMobile #loginContainer ul {
  margin: 0;
  padding-right: 20px;
}
#WholeCotainer .hamburger > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  border-top: 1px solid #212529;
}
#WholeCotainer .hamburger > div:nth-child(3) > div {
  width: 50%;
}
#WholeCotainer .hamburger > div:nth-child(3) > div:nth-child(1) {
  border-right: 1px solid #212529;
}
#WholeCotainer .hamburger > div:nth-child(3) > div:nth-child(1) ul > li {
  padding-left: 10px;
}
#WholeCotainer .hamburger > div:nth-child(3) > div:nth-child(1) ul > li:nth-child(1) {
  padding-left: 0;
  font-weight: 700;
}
#WholeCotainer .hamburger > div:nth-child(3) #brandNav {
  position: relative;
}
#WholeCotainer .hamburger > div:nth-child(3) #brandNav > div {
  margin-top: 0;
  padding: 0;
}
#WholeCotainer .hamburger > div:nth-child(3) #brandNav > div:nth-child(1) {
  position: relative;
  background-color: transparent;
  padding: 10px 0;
  font-weight: 700;
}
#WholeCotainer .hamburger > div:nth-child(3) #brandNav > div:nth-child(2) {
  margin-top: 20px;
  height: 100%;
  overflow: auto;
}
#WholeCotainer .hamburgerActive {
  width: 100%;
}

#mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#mainContent main-nav {
  position: absolute;
  top: 0;
  left: 0;
}
#mainContent > div:nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mainContent > div:nth-child(2) > div {
  margin: 1.8rem 0 0 120px;
}

::-moz-selection {
  background-color: #de0000;
  color: #fff;
}

::selection {
  background-color: #de0000;
  color: #fff;
}

@media (min-width: 250px) and (max-width: 1200px) {
  #WholeCotainer #headerVue {
    background-color: rgba(255, 255, 255, 0.5);
  }
  #WholeCotainer #headerVue #mn {
    display: block;
  }
  #mainContent #loginArea {
    position: relative;
    display: none;
  }
  #mainContent > div:nth-child(1) > div:nth-child(1) {
    display: none;
  }
  #mainContent > div:nth-child(2) > div {
    margin-top: 4.6rem;
    margin-left: 0;
  }
}